body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  font-family: Arial;
}

.slider {
  width: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/* Hide radio buttons */
input {
  display: none;
}

.slides {
  display: flex;
  width: 300%;
  transition: 0.5s;
}

.slide {
  width: 100%;
}

/* Manual navigation */
.navigation {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.navigation label {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

/* Slide control */
#slide1:checked ~ .slides {
  margin-left: 0%;
}

#slide2:checked ~ .slides {
  margin-left: -100%;
}

#slide3:checked ~ .slides {
  margin-left: -200%;
}

/* Active dot */
#slide1:checked ~ .navigation label:nth-child(1),
#slide2:checked ~ .navigation label:nth-child(2),
#slide3:checked ~ .navigation label:nth-child(3) {
  opacity: 1;
}
