body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

.slider {
  width: 600px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 9s infinite;
}

/* Delay for each slide */
.s1 { animation-delay: 0s; }
.s2 { animation-delay: 3s; }
.s3 { animation-delay: 6s; }

/* Fade animation */
@keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}
.slideimg{
    width: auto;
    height: auto;
    max-width: fit-content;
    max-height: fit-content;
    display: block; 
}
