body {
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  padding: 60px;
}

/* Wrapper */
.dropdown {
  width: 260px;
  position: relative;
}

/* Button */
.dropdown-btn {
  background: #333;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  width: 100%;
  background: #222;
  margin-top: 6px;
  border-radius: 6px;
  padding: 10px;

  /* Animation setup */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: 0.3s ease;
}

/* Hover animation */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateX(0   );
  pointer-events: auto;
}

/* Search UI */
.search {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: none;
  background: #444;
  color: #aaa;
}

/* List */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: background 0.4;
}

li:hover {
  background: #333;
}
