
*{
	box-sizing:border-box;
}

.row{
	display:flex;
	flex-wrap: wrap;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.head{
	background-color:antiquewhite;
	color:beige;
	text-align:center;
	padding:20px;
}


.navbar{
	width:100%;
	height:auto;
	float:left;
	background-color:black;
}

.navbar a{
	display:block;
	float:left;
	padding:15px 25px;
	text-decoration:none;
	color:white;
	font-size:20px;
}

.navbar a:hover{
	background-color:Lightgray;
	color:black;
}

.banner{
	background:url(/img/img_girl.jpg);
	background-size:100% 100%;
	color:white;
	text-align:center;
	padding:100px;
}

.sidebar{
	background-color:blanchedalmond;
	color:antiquewhite;
	padding:20px;
}

.mainbar{
	background-color:Lightgray;
	color:bisque;
	padding:20px;
}

.footer{
	background-color:black;
	color:white;
	padding:20px;
}