/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
}

.modal:target {
  display: block;
}

.modal-box {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: none;
  font-size: 24px;
} */


.modal {
  display: none;
}

#openModal:checked ~ .modal {
  display: block;
}
