
*{
	box-sizing:border-box;
}

.row{
	display:flex;
	flex-wrap: wrap;
}

/* Mobile default */
[class*="col-"]{
	width:100%;
}

/* tablet 600 - 768 */
@media only screen and (min-width: 600px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

/* Desktop 768> */
@media only screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

.head{
	background-color:bisque;
	color:antiquewhite;
	text-align:center;
	padding:20px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav a {
	  width:100%;
       }
}


.banner{
	background:url(/img/border\ download.png);
	background-size:100% 100%;
	color:white;
	text-align:center;
	padding:100px;
}

.sidebar1{
	background-color:antiquewhite;
	color:azure;
	padding:20px;
}
.sidebar2{
	background-color:pink;
	color:#ddd;
	padding:20px;
}



@media screen and (max-width: 768px) {
  .sidebar2{
	  display:none;
       }
}

	
.mainbar{
	background-color:Lightgray;
	color:#f2f2f2;
	padding:20px;
}

.footer{
	background-color:black;
	color:white;
	padding:20px;
}