.snap-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  width: 100%;
  height: 100px;
  gap: 20px;
  padding: 20px;
}

/* hide scrollbar (optional) */

/* .snap-container::-webkit-scrollbar {
  display: none;
} */

.snap-item {
  flex: 0 0 80%;
  height: 100%;
  border-radius: 12px;

  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: start;
}
